{% extends 'base.html.twig' %}

{% block title %}New BoardCommissioners{% endblock %}

{% block body %}
    <h1>Create new BoardCommissioners</h1>

    {{ include('board_commissioners/_form.html.twig') }}

    <a href="{{ path('app_board_commissioners_index') }}">back to list</a>
{% endblock %}
