{% extends 'base.html.twig' %}

{% block title %}New InternshipPrograms{% endblock %}

{% block body %}
    <h1>Create new InternshipPrograms</h1>

    {{ include('internship_programs/_form.html.twig') }}

    <a href="{{ path('app_internship_programs_index') }}">back to list</a>
{% endblock %}
