{% extends 'base.html.twig' %}

{% block title %}Edit Vacancies{% endblock %}

{% block body %}
    <h1>Edit Vacancies</h1>

    {{ include('vacancies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vacancies_index') }}">back to list</a>

    {{ include('vacancies/_delete_form.html.twig') }}
{% endblock %}
