{% extends 'base.html.twig' %}

{% block title %}Edit InnovationChallengeCategories{% endblock %}

{% block body %}
    <h1>Edit InnovationChallengeCategories</h1>

    {{ include('innovation_challenge_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_innovation_challenge_categories_index') }}">back to list</a>

    {{ include('innovation_challenge_categories/_delete_form.html.twig') }}
{% endblock %}
