<form method="post" action="{{ path('app_research_priorities_delete', {'id': research_priority.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ research_priority.id) }}">
    <button class="btn">Delete</button>
</form>
