{% extends 'base.html.twig' %}

{% block title %}Edit BiotechLabs{% endblock %}

{% block body %}
    <h1>Edit BiotechLabs</h1>

    {{ include('biotech_labs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_biotech_labs_index') }}">back to list</a>

    {{ include('biotech_labs/_delete_form.html.twig') }}
{% endblock %}
