{% extends 'base.html.twig' %}

{% block title %}New BiotechLabs{% endblock %}

{% block body %}
    <h1>Create new BiotechLabs</h1>

    {{ include('biotech_labs/_form.html.twig') }}

    <a href="{{ path('app_biotech_labs_index') }}">back to list</a>
{% endblock %}
