<form method="post" action="{{ path('app_vacancy_requirements_delete', {'id': vacancy_requirement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vacancy_requirement.id) }}">
    <button class="btn">Delete</button>
</form>
