{% extends 'base.html.twig' %}

{% block title %}New VacancyRequirements{% endblock %}

{% block body %}
    <h1>Create new VacancyRequirements</h1>

    {{ include('vacancy_requirements/_form.html.twig') }}

    <a href="{{ path('app_vacancy_requirements_index') }}">back to list</a>
{% endblock %}
