{% extends 'base.html.twig' %}

{% block title %}New ResourceCategories{% endblock %}

{% block body %}
    <h1>Create new ResourceCategories</h1>

    {{ include('resource_categories/_form.html.twig') }}

    <a href="{{ path('app_resource_categories_index') }}">back to list</a>
{% endblock %}
