{% extends 'base.html.twig' %}

{% block title %}New InfrastructureUtilization{% endblock %}

{% block body %}
    <h1>Create new InfrastructureUtilization</h1>

    {{ include('infrastructure_utilization/_form.html.twig') }}

    <a href="{{ path('app_infrastructure_utilization_index') }}">back to list</a>
{% endblock %}
