<form method="post" action="{{ path('app_ecosystem_partners_delete', {'id': ecosystem_partner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ecosystem_partner.id) }}">
    <button class="btn">Delete</button>
</form>
