{% extends 'base.html.twig' %}

{% block title %}New ProcurementDocuments{% endblock %}

{% block body %}
    <h1>Create new ProcurementDocuments</h1>

    {{ include('procurement_documents/_form.html.twig') }}

    <a href="{{ path('app_procurement_documents_index') }}">back to list</a>
{% endblock %}
