<form method="post" action="{{ path('app_council_members_delete', {'id': council_member.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ council_member.id) }}">
    <button class="btn">Delete</button>
</form>
