<form method="post" action="{{ path('app_nsf_statistics_delete', {'id': nsf_statistic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nsf_statistic.id) }}">
    <button class="btn">Delete</button>
</form>
