{% extends 'base.html.twig' %}

{% block title %}New EcosystemPartnerExamples{% endblock %}

{% block body %}
    <h1>Create new EcosystemPartnerExamples</h1>

    {{ include('ecosystem_partner_examples/_form.html.twig') }}

    <a href="{{ path('app_ecosystem_partner_examples_index') }}">back to list</a>
{% endblock %}
